/*Modal styles-----------------*/

.modal-title {
  color: #58CFFF;
  font-family: 'Ubuntu', sans-serif;
}

.modal-body {
  font-family: 'Open sans', sans-serif;
  h5 {
    color: #58CFFF;
    font-family: 'Ubuntu', sans-serif;
  }

  img {
    display: block;
    height: auto;
    width: 300px;
    margin: auto;
  }
}
