/* Music ------------------------- */

.music {
  position: relative;
  top: 400px;
  color: black;
  background-color: white;
  height: auto;
  min-height: 400px;
}

.album {
  line-height: 300px;
  height: 300px;
  text-align: center;
  background-color: #EAE6FF;
}

.album-odd {
  background-color: #BBB8CC;
}

.album-label {
  display: inline-block;
  line-height: 1.5;
  color: white;
  vertical-align: middle;
}

#album-one {
  background: url(../images/Chika-pics-final/kokorohane.jpg) no-repeat center;
  background-size: cover;
}

#album-two {
  background: url(../images/Chika-pics-final/negai.jpg) no-repeat center;
  background-size: cover;
}

#album-three {
  background: url(../images/Chika-pics-final/shikisai.jpg) no-repeat center;
  background-size: cover;
}

#album-four {
  background: url(../images/Chika-pics-final/with-you-1.jpg) no-repeat center;
  background-size: cover;
}

#album-five {
  background: url(../images/Chika-pics-final/with-you-2.jpg) no-repeat center;
  background-size: cover;
}

#album-six {
  background: url(../images/Chika-pics-final/bossa-nova.jpg) no-repeat center;
  background-size: cover;
}
